.movie img {
    height: 50px;
}

.actors {
    display: flex;
    flex-direction: column;
}

#reviewComment {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap
}